@model Vendas.WebApp.Models.ViewModels.ProdutoFormViewModels
@{
    ViewData["Title"] = "Detalhar produto";
}
@await Html.PartialAsync("~/Views/Shared/_PartialNav.cshtml")
<h2 class="display-4">Detalhar produto</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Codigo
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Produto.Id)
        </dd>
        <dt>
            Nome
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Produto.Nome)
        </dd>
        <dt>
            Quantidade no estoque
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Produto.Quantidade)
        </dd>
        <dt>
            Quantidade mínima no estoque
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Produto.QuantidadeMinima)
        </dd>
        <dt>
            Valor venda
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Produto.Valor)
        </dd>
        <dt>
            Valor custo unitário
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Produto.ValorCustoUnitario)
        </dd>
        <dt>
            Valor custo total
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Produto.ValorCustoTotal)
        </dd>
        <dt>
            Valor lucro unitário
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Produto.ValorLucroUnitario)
        </dd>
        <dt>
            Valor lucro total
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Produto.ValorLucroTotal)
        </dd>
        <dt>
            Valor bruto
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Produto.ValorBruto)
        </dd>
        <dt>
            Categoria
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CategoriaObj.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-sm btn-secondary">Voltar</a>
</div>
