@model Vendas.WebApp.Models.ViewModels.ProdutoFormViewModels
@{
    ViewData["Title"] = "Editar Produto";
}
@await Html.PartialAsync("~/Views/Shared/_PartialNav.cshtml")
<h2 class="display-4">Editar Produto</h2>
<form asp-action="Edit">
    <input asp-for="@Model.Produto.Id" type="hidden" class="form-control form-control-sm" />
    <div class="form-row">
        <div class="form-group-sm col-md-3">
            <div class="form-group">
                <label asp-for="@Model.Produto.Nome" class="control-label">Nome:</label>
                <input asp-for="@Model.Produto.Nome" class="form-control form-control-sm" />
                <span asp-validation-for="@Model.Produto.Nome" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group-sm col-md-2">
            <div class="form-group">
                <label asp-for="@Model.Produto.Quantidade" class="control-label">Quant. estoque:</label>
                <input asp-for="@Model.Produto.Quantidade" maxlength="11" class="form-control form-control-sm" />
                <span asp-validation-for="@Model.Produto.Quantidade" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group-sm col-md-2">
            <div class="form-group">
                <label asp-for="@Model.Produto.QuantidadeMinima" class="control-label">Quant. mínima:</label>
                <input asp-for="@Model.Produto.QuantidadeMinima" maxlength="11" class="form-control form-control-sm" />
                <span asp-validation-for="@Model.Produto.QuantidadeMinima" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group-sm col-md-2">
            <div class="form-group">
                <label asp-for="@Model.Produto.Valor" class="control-label">Valor venda:</label>
                <input asp-for="@Model.Produto.Valor" class="form-control form-control-sm" />
                <span asp-validation-for="@Model.Produto.Valor" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group-sm col-md-3">
            <div class="form-group">
                <label asp-for="@Model.Produto.IdCategoria" class="control-label">Categoria:</label>
                <select asp-for="@Model.Produto.IdCategoria" asp-items="@(new SelectList(Model.Categoria,"Id","Nome"))" class="form-control form-control-sm"></select>
                <span asp-validation-for="@Model.Produto.IdCategoria" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group-sm col-md-3">
            <div class="form-group">
                <label asp-for="@Model.Produto.ValorCustoUnitario" class="control-label">Valor custo unitário:</label>
                <input asp-for="@Model.Produto.ValorCustoUnitario" class="form-control form-control-sm" />
                <span asp-validation-for="@Model.Produto.ValorCustoUnitario" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group-sm col-md-3">
            <div class="form-group">
                <label asp-for="@Model.Produto.ValorCustoTotal" class="control-label">Valor custo total:</label>
                <input asp-for="@Model.Produto.ValorCustoTotal" class="form-control form-control-sm" />
                <span asp-validation-for="@Model.Produto.ValorCustoTotal" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group-sm col-md-2">
            <div class="form-group">
                <label asp-for="@Model.Produto.ValorLucroUnitario" class="control-label">Valor lucro unitário:</label>
                <input asp-for="@Model.Produto.ValorLucroUnitario" class="form-control form-control-sm" />
                <span asp-validation-for="@Model.Produto.ValorLucroUnitario" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group-sm col-md-2">
            <div class="form-group">
                <label asp-for="@Model.Produto.ValorLucroTotal" class="control-label">Valor lucro total:</label>
                <input asp-for="@Model.Produto.ValorLucroTotal" class="form-control form-control-sm" />
                <span asp-validation-for="@Model.Produto.ValorLucroTotal" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group-sm col-md-2">
            <div class="form-group">
                <label asp-for="@Model.Produto.ValorBruto" class="control-label">Valor bruto:</label>
                <input asp-for="@Model.Produto.ValorBruto" class="form-control form-control-sm" />
                <span asp-validation-for="@Model.Produto.ValorBruto" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-row botao">
        <div class="col-md-11">
            <a asp-action="Index">
                <input type="button" value="Voltar" class="btn btn-sm btn-secondary" />
            </a>
        </div>
        <div class="col-md-1">
            <input type="submit" value="Salvar" class="btn btn-sm btn-success" />
        </div>
    </div>
</form>
