@model Vendas.WebApp.Models.ViewModels.PagamentoFormViewModels
@{
    ViewData["Title"] = "Adicionar pagamento";
}
<h2 class="display-4">Adicionar pagamento</h2>
<form asp-action="Buscar">
    <input asp-for="@Model.Pagamento.Id" type="hidden" class="form-control form-control-sm" />
    <div class="form-row">
        <div class="form-group-sm col-md-12">
            <div class="form-group">
                <label asp-for="@Model.Pagamento.ComandaId" class="control-label">Número da comanda:</label>
                <select asp-for="@Model.Pagamento.ComandaId" asp-items="@(new SelectList(Model.Comanda,"Id","Id"))" class="form-control form-control-sm"></select>
                <span asp-validation-for="@Model.Pagamento.ComandaId" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-row botao">
        <div class="col-md-11">
            <a asp-action="Index">
                <input type="button" value="Voltar" class="btn btn-sm btn-secondary" />
            </a>
        </div>
        <div class="col-md-1">
            <input type="submit" value="Salvar" class="btn btn-sm btn-success" />
        </div>
    </div>
</form>
