@model IEnumerable<Vendas.WebApp.Models.Pagamento>;
@{
    ViewData["Title"] = "Detalhar pagamento";
}
@await Html.PartialAsync("~/Views/Shared/_PartialNav.cshtml")
<h2 class="display-4">Detalhar comanda produto</h2>
<table class="table" id="myTable">
    <thead>
        <tr class="col-12">
            <th>
                Data
            </th>
            <th style="text-align: center" ;>
                Produto
            </th>
            <th style="text-align: center" ;>
                Quantidade
            </th>
            <th style="text-align: center" ;>
                Valor
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr onclick="Detalhar(@item.ComandaId)">
                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
                <td style="text-align: center" ;>
                    @Html.DisplayFor(modelItem => item.Produto)
                </td>
                <td style="text-align: center;">
                    @Html.DisplayFor(modelItem => item.Quantidade)
                </td>
                <td style="text-align: center">
                    <span>@Html.DisplayFor(modelItem => item.Valor)</span>
                </td>
            </tr>
        }
        <tr>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td style="text-align: center" ;>
                <div id="ValorTotal" class="ValorTotal"></div>
            </td>
        </tr>
    </tbody>
</table>
<div>
    <a asp-action="Index" class="btn btn-sm btn-secondary">Voltar</a>
</div>
<div>
    <a asp-action="Edit" class="btn btn-sm btn-secondary">Pagar</a>
</div>
<script>
    window.onload = contar();
    function contar() {
        var valores = document.querySelectorAll("span");
        let val = [];
        for (i = 0; i < valores.length; i++) {
            val.push(parseFloat(valores[i].innerHTML.replace(',', '.')))
        }
        console.log(val);
        var total = val.reduce((acumulador, numero) => {
            return acumulador += numero;
        }, 0)
        var arr = total.toFixed(2);
        console.log(arr);
        var $wrapper = document.querySelector('.ValorTotal'),
            HTMLNovo = '<label class="control-label">' + arr + '</label>';
        $wrapper.innerHTML = HTMLNovo;
    }
</script>