@model WebApp.Models.ViewModels.ProdutoFormViewModels
@{
    ViewData["Title"] = "Editar Produto";
}
<h2 class="display-4">Editar Produto</h2>
<form asp-action="Edit">
    <input asp-for="@Model.Produto.Id" type="hidden" class="form-control form-control-sm" />
    <div class="form-row">
        <div class="form-group-sm col-md-3">
            <div class="form-group">
                <label asp-for="@Model.Produto.Nome" class="control-label">Nome:</label>
                <input asp-for="@Model.Produto.Nome" class="form-control form-control-sm" />
                <span asp-validation-for="@Model.Produto.Nome" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group-sm col-md-3">
            <div class="form-group">
                <label asp-for="@Model.Produto.Quantidade" class="control-label">Quantidade:</label>
                <input asp-for="@Model.Produto.Quantidade" maxlength="11" class="form-control form-control-sm" />
                <span asp-validation-for="@Model.Produto.Quantidade" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group-sm col-md-3">
            <div class="form-group">
                <label asp-for="@Model.Produto.Valor" class="control-label">Valor:</label>
                <input asp-for="@Model.Produto.Valor" class="form-control form-control-sm" />
                <span asp-validation-for="@Model.Produto.Valor" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group-sm col-md-3">
            <div class="form-group">
                <label asp-for="@Model.Produto.CodigoCategoria" class="control-label">Categoria:</label>
                <select asp-for="@Model.Produto.CodigoCategoria" asp-items="@(new SelectList(Model.Categoria,"Codigo","Nome"))" class="form-control form-control-sm"></select>
                <span asp-validation-for="@Model.Produto.CodigoCategoria" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-row botao">
        <div class="col-md-11">
            <a asp-action="Index">
                <input type="button" value="Voltar" class="btn btn-sm btn-secondary" />
            </a>
        </div>
        <div class="col-md-1">
            <input type="submit" value="Salvar" class="btn btn-sm btn-success" />
        </div>
    </div>
</form>
