@model IEnumerable<Vendas.WebApp.Models.Usuario>;
@{
    ViewData["Title"] = "Usuario";
}
<h2 class="display-4">Usuario</h2>
<p>
    <a asp-action="Create">Adicionar nova Usuario</a>
</p>
<form class="form-inline">
    <div class="form-group mb-2">
        <label for="input>NomeDaUsuario" class="sr-only">Nome da Usuario</label>
        <input type="text" class="form-control form-control-sm" id="myInput" onkeyup="myFunctionFiltroNomeUsuario()" placeholder="Nome da Usuario">
    </div>
</form>
<table class="table" id="myTable">
    <thead>
        <tr class="col-12">
            <th>
                Codigo
            </th>
            <th>
                Nome
            </th>
            <th>
                E-mail
            </th>
            <th>
                Detalhar
            </th>
            <th>
                Editar
            </th>
            <th>
                Apagar
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

        <tr onclick="Detalhar(@item.Id)">
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-action="Details" class="btn btn-sm btn-warning" asp-route-id="@item.Id">Detalhar</a>
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-sm btn-info" asp-route-id="@item.Id">Editar</a>
            </td>
            <td>
                <a asp-action="Delete" class="btn btn-sm btn-danger" asp-route-id="@item.Id">Apagar</a>
            </td>
        </tr>
        }
    </tbody>
</table>
<div class="form-group quantTd mb-6">
    <label>Quantidade de Usuarios:</label>
    <label id="quantTd"></label>
</div>
<script>
    window.onload = contaLinhasTabela();
    function myFunctionFiltroNomeUsuario() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
            var elem = document.getElementById("quantTd");
            elem.value = tr.length.toString;

        }
    }

    function contaLinhasTabela() {
        var tabela = document.getElementById('myTable');
        var linhas = tabela.getElementsByTagName('tr');
        document.getElementById("quantTd").innerHTML = linhas.length - 1;
    }
    function Detalhar(Codigo) {
        window.location = window.origin + "\\Usuario\\Details\\" + Codigo;
    }
</script>